.circle{
    width: 7px;
    height: 7px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.rotate-i{
    rotate:30deg;
}
.bgcolor{
    background: linear-gradient(0.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}